name: kconfigDetector
description: Tools for detection kernel configuration error values.
upstream: https://gitee.com/openeuler/kconfigDetector
branches:
- name: master
  type: protected
type: public
