name: kconfigDetector
description: Tools for detection kernel configuration error values.
branches:
- name: master
  type: protected
- name: openEuler-23.03
  type: protected
  create_from: master
type: public
